extends layout

block content
  .container
    .row
      .col-lg-10
        h1 Vin Moves
        blockquote.tagline 
          strong Custom moves for Dungeon World enemies and monsters to make them more interesting and more dangerous.

        p This is a project that I, Colin "Vindexus" Kierans, am working on to deliver 30 custom moves for Dungeon World. I plan to prewrite several moves, then release 20 custom moves over 4 weeks, releasing one per weekday, along with an accompanying post on 
          a(href='http://vindexus.net') my blog
          |  explaining my thought process and potential changes.

        a.btn.btn-primary.btn-lg(href='/newest') 
          span.glyphicon.glyphicon-calendar

          |  See Newest Moves

        | 

        a.btn.btn-primary.btn-lg(href='http://vindexus.net/category/vin-moves/') 
          span.glyphicon.glyphicon-eye-open

          |  Read the Blog Posts

        hr

        div
          strong Newest Move: 
          a(href='/#{newest[0]/key}')= newest[0].name

        hr

        h2(id="how-to") How To Use These Moves
        ul
          li Think of the enemy or foe you want to apply a custom move to
          li Find a custom that you think fits them thematically
          li Familiarize yourself with the trigger, to increase the chances it will see play
          li Print off or right down that custom move
          li When playing, place it face down on the table when you feel it might trigger
          li If the move comes into play, flip it over and have someone at the table read it
          li 
            em Play to find out what happens

        hr

        h3(id="edit") Edit These Moves
        p If you'd like to suggest a change for a move, you can click the <em>Edit This Move</em> link in each one to create a pull request on GitHub. The full website repo can be found
          a(href="https://github.com/Vindexus/VinMoves" target="_blank") here on GitHub
          |  and the files for each move are 
          a(href='https://github.com/Vindexus/VinMoves/tree/master/moves' target="_blank") in the moves folder.

        hr

        h3(id="license") License
        p All moves are licensed under the 
          a(href='https://creativecommons.org/licenses/by/3.0/' target="_blank")
            | Creative Commons Attribution 3.0 Unported License
          |.

